@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  
}

*,
*:before,
*:after {
  @apply cursor-default;
}


body {
  @apply overflow-x-hidden
}

/* span {
  @apply block
} */
 
/* @layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
} */
