@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth overflow-x-hidden;
  
}

*,
*:before,
*:after {
  @apply cursor-default;
}

a {
  @apply cursor-pointer; /* Apply the custom cursor for links */
}




/* span {
  @apply block
} */
 
/* @layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
} */
